{% extends "base.html" %}
{% block title %}Transcribe{% endblock %}

{% block content %}
 <script type="text/javascript">
      var $ = jQuery;
      $(document).ready(function(){
            $("#viewer").iviewer(
                 {
                 src: "{{task.content['imageurl']}}", 
                 update_on_resize: false,
                 initCallback: function ()
                 {
                     var object = this;
                     $("#in").click(function(){ object.zoom_by(1);}); 
                     $("#out").click(function(){ object.zoom_by(-1);}); 
                     $("#fit").click(function(){ object.fit();}); 
                     $("#orig").click(function(){  object.set_zoom(100); }); 
                     $("#update").click(function(){ object.update_container_info();});
                 },
                 onMouseMove: function(object, coords) { },
                 onStartDrag: function(object, coords) { return true; }, //this image will not be dragged
                 onDrag: function(object, coords) { }
            });

      });
  </script>
  <div class="left-pane">
    <div id="viewer" class="viewer"></div>
  </div>

  <div class="right-pane">
    <div class="meta">
      <form action="" method="post">
        <label for="existsTable">Is there a table in this image?</label>
        <input type="radio" name="existsTable" value="Yes"> Yes. <input type="radio" name="existsTable" value="No"> No.<br>
        <label for="tableContinues">Does it continue on the next page?</label>
        <input type="radio" name="tableContinues" value="Yes"> Yes. <input type="radio" name="tableContinues" value="No"> No.<br>
      </form>
    </div>

    <div class="gdoc">
      <iframe src="https://spreadsheets.google.com/spreadsheet/ccc?hl=en_GB&key={{task.content['spreadsheetid']}}#gid=0" style="width: 100%;" height="600"></iframe>
    </div>
  </div>
{% endblock %}
