@import url(openspending.css);

header #site-title {
  margin-left: 0;
}

#content {
  padding: 20px;
}

#content h2 {
  font-size: 200%;
}

div.image {
  width: 45%;
  float: left;
}

div.image img {
  width: 100%;
}

div.gdoc {
  width: 45%;
  margin-left: 50%;
}

